<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>采购计划管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'layui/lib/layui-v2.6.3/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'layui/css/public.css') }}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">部门</label>
                            <div class="layui-input-inline">
                                <select id="form_select" name="department" class="layui-input">
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                {% if has_starting_plan==False %}
                    <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="start"> 开启 </button>
                {% else %}
                    <button class="layui-btn layui-btn-danger layui-btn-sm data-refresh-btn" lay-event="end"> 关闭 </button>
                {% endif %}
            </div>
        </script>
        <table class="layui-hide" id = "buying_plan_table" lay-filter="currentTableFilter"></table>
    </div>
</div>
<script src="{{ url_for('static', filename = 'layui/lib/layui-v2.6.3/layui.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename = 'layui/js/lay-config.js') }}" charset="utf-8"></script>
<script>
    layui.use(['treetable', 'table', 'layer', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var treetable = layui.treetable;
        var $ = layui.jquery;
        var form = layui.form;

        //渲染表格
        var renderTable = function(){
            treetable.render({
                height: 'full-160',
                id:'menu',
                treeColIndex: 0,    //树形图标显示在第几列
                treeSpid: '0',      //最上级的父级id
                treeIdName: 'id',   //id字段的名称
                treePidName: 'parentId',    //父级节点字段
                treeDefaultClose: true,    //是否默认折叠
                treeLinkage: false,     //父级展开时是否自动展开所有子级
                elem: '#buying_plan_table',  //表格id
                url: '{{ url_for("/plan/get_plan") }}',
                toolbar: '#toolbar',
                page: false,
                cols: [ [
<!--                    {type: 'radio'},-->
                    {field: 'name', title: '名称', align: 'center'},
                    {field: 'type' , title: '类别', align: 'center'},
                    {field: 'eid' , title: '工号', align: 'center'},
                    {field: 'applicant', title: '申请人', align: 'center'},
                    {field: 'apply_num', title: '申请数量', align: 'center'},
                    {field: '_id', title: 'ID', hide: true},
                    {title: '操作', align: 'center', templet: function(d){
                        if (d.is_pass == 'yes')
                            return '通过'
                        else if (d.is_pass == 'no')
                            return '拒绝'
                        else if (d.is_pass == 'none')
                            return ''
                        else
                            return '<button type="button" class="layui-btn layui-btn-normal" style="position: relative;bottom: 5px;" onclick="accept('+d._id+')">通过</button>'
                                    + '<button type="button" class="layui-btn layui-btn-danger" style="position: relative;bottom: 5px;" onclick="reject('+d._id+')">拒绝</button>'
                    }}
                ] ],
                //数据渲染完的回调
                done: function () {

                }
            });
        };
        renderTable();

        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'start')
            {
                $.post('{{ url_for("/plan/start_plan") }}', function(data){
                    var code = data.code;
                    if (code == 200)
                        window.location.reload();
                });
            }
        });

        window.accept = function(_id) {
            data = {"apply": _id}
            $.ajax({
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                url: "{{ url_for('/ware/accept') }}",
                success: function(result) {
                    var code = result.code;
                    if (code == 200)
                        window.location.reload();
                }
            });
        }

        window.reject = function(_id){
            alert(_id)
        }
    });
</script>
</body>
</html>