<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>备件申请列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'layui/lib/layui-v2.6.3/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'layui/css/public.css') }}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">申请状态</label>
                            <div class="layui-input-inline">
                                <select id="form_select" name="apply_state" class="layui-input">
                                    <option value="pending" selected="">核准中</option>
                                    <option value="cancel">已取消</option>
                                    <option value="done">已入库</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="apply"> 申请 </button>
                <button class="layui-btn layui-btn-primary layui-btn-sm data-refresh-btn" lay-event="refresh"> 刷新 </button>
            </div>
        </script>

        <table class="layui-hide" id="ware_apply_table" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">状态</a>
        </script>
    </div>
</div>
<script src="{{ url_for('static', filename = 'layui/lib/layui-v2.6.3/layui.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename = 'layui/js/lay-config.js') }}" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#ware_apply_table',
            method: 'post',
            url: '{{ url_for('ware/get_application') }}?jwt='+localStorage['access_key'],
            toolbar: '#toolbar',
            cols: [[
                {field: 'id', width: 200, title: 'ID', hide: true},
                {field: 'model', width: 200, title: '型号', align: 'center'},
                {field: 'quantity', width: 200, title: '数量', align: 'center'},
                {field: 'unit_name', width: 200, title: '单位', align: 'center'},
                {field: 'apply_quantity', width: 200, title: '申请数量', align: 'center'},
                {field: 'company', width: 200, title: '厂家', align: 'center'},
                {field: 'item_number', width: 200, title: '料号', align: 'center'},
                {field: 'time', width: 200, title: '申请时间', sort: true, align: 'center'},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
<!--            layer.alert(result, {-->
<!--                title: '最终的搜索信息'-->
<!--            });-->

            //执行搜索重载
            table.reload('ware_apply_table', {
                page: {
                    curr: 1
                },
                where: {
                    searchParams: result,
                }
            }, 'data');

            return false;
        });

        // 添加用户
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'apply')
            {
                // 监听添加操作
                var index = layer.open({
                    title: '申请备件',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '{{ url_for('ware_apply_page') }}',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            }
            else if (obj.event === 'refresh')
            {
                // 刷新
                window.location.reload()
            }
        });
    });
</script>
</body>
</html>