<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>备件申请</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'layui/lib/layui-v2.6.3/css/layui.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'layui/css/public.css') }}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">类别</label>
                <div class="layui-input-inline">
                    <select id="top_type" name="top_type" lay-filter="change_top_type"></select>
                </div>
                <div class="layui-input-inline">
                    <select id="child_type" name="child_type" lay-filter="change_child_type"></select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">型号</label>
                <div class="layui-input-inline">
                    <select id="model" name="model" lay-filter="change_model"></select>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">厂家</label>
                    <div class="layui-input-inline">
                        <select id="company" name="company"></select>
                    </div>
                </div>
            </div>

             <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">数量</label>
                    <div class="layui-input-inline">
                        <input type="number" name="quantity" lay-verify="required" placeholder="备件数量" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <select id="unit" name="unit"></select>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename = 'layui/lib/layui-v2.6.3/layui.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename = 'layui/js/lay-config.js') }}" charset="utf-8"></script>
<script>
layui.use(['form', 'laydate'], function () {
    var $ = layui.$,
        form = layui.form,
        laydate = layui.laydate;

    $().ready(function(){
        $.get('{{ url_for('/kind/get_top_kind') }}', function(data){
            $("#top_type").append("<option value='0'>请选择</option>")
            for (var i = 0; i < data.length; i++)
                $("#top_type").append("<option value='" + data[i].id + "'>" + data[i].name + "</option>>");
            form.render('select')
            form.render();
        });
    });

    form.on('select(change_top_type)', function () {
        $("#child_type").html("<option value='0'>请选择</option>");
        $("#model").html("<option value='0'>请选择</option>");
        $("#company").html("<option value='0'>请选择</option>");
        $("#unit").html("<option value='0'>请选择</option>");

        top_id = $("#top_type option:selected").val();
        $.ajax({
            type: 'post',
            url: '{{ url_for('/kind/get_child_kind') }}',
            data: JSON.stringify({"top": top_id}),
            contentType:"application/json",
            success(data) {
                for (var i = 0; i < data.length; i++)
                    $("#child_type").append("<option value='" + data[i].id + "'>" + data[i].name + "</option>");
                form.render('select')
                form.render();
            }
        });
    });

    form.on('select(change_child_type)', function () {
        $("#model").html("<option value='0'>请选择</option>");
        $("#company").html("<option value='0'>请选择</option>");
        $("#unit").html("<option value='0'>请选择</option>");

        child_id = $("#child_type option:selected").val();
        $.ajax({
            type: 'post',
            url: '{{ url_for('/kind/get_model_by_kind') }}',
            data: JSON.stringify({"kind": child_id}),
            contentType:"application/json",
            success(data) {
                for (var i = 0; i < data.length; i++)
                    $("#model").append("<option value='" + data[i].id + "'>" + data[i].name + "</option>");
                form.render('select')
                form.render();
            }
        });
    });

    form.on('select(change_model)', function () {
        $("#company").html("<option value='0'>请选择</option>");
        $("#unit").html("<option value='0'>请选择</option>");

        // 页面渲染判断参数
        model_id = $("#model option:selected").val();
        // 接口请求参数
        child_id = $("#child_type option:selected").val();
        $.ajax({
            type: 'post',
            url: '{{ url_for('/kind/get_model_by_kind') }}',
            data: JSON.stringify({"kind": child_id}),
            contentType:"application/json",
            success(data) {
                for (var i = 0; i < data.length; i++)
                {
                    if (data[i].id == model_id)
                    {
                        $("#company").append("<option value='" + data[i].company.id + "'>" + data[i].company.name + "</option>");
                        $("#unit").append("<option value='" + data[i].unit.id + "'>" + data[i].unit.name + "</option>");
                    }
                }
                form.render('select')
                form.render();
            }
        });
    });

    form.on('submit(sub)', function (data) {
        layer.alert(JSON.stringify(data.field), {
            title: '最终的提交信息'
        })
        return false;
    });
});
</script>
</body>
</html>